body {
  background-color: #333;
  
}
.head {
  display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.logo-text {
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin-left: 400px;
}

.menu-buttons {
    display: flex   ;
    margin-left: 260px;
    margin-top: 34px;
}
.button-text {
  font-weight: bold;
    font-size: 25px;
    text-align: center;

}
.button-text-m {
  width: 80px;
  height: 32px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}
.button-text-m:hover {
  font-weight: bold;
  font-size: 25px;
 
  text-decoration: underline;
  text-decoration-color: rgb(100, 100, 100);
}
.button-text:hover {
  text-decoration: underline;
  text-decoration-color: rgb(100, 100, 100);
}